---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Menu from '../components/Menu.astro';
import SocialProof from '../components/SocialProof.astro';
import About from '../components/About.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Jaque Postres | Postres hechos con amor">
  <Header />
  <main>
    <Hero />
    <Menu />
    <SocialProof />
    <About />
    <Faq />
  </main>
  <Footer />
</Layout>
